<div id="<%= dom_id content %>">
  
 <%= image_tag @content.cover.url(:medium) %> 

  <p>
    <%= content.titolo %>
  </p>

  <p>
    <%= content.descrizione %>
  </p>

  <p>
    <%= content.prezzo %>
  </p>

</div>
