<p style="color: green"><%= notice %></p>

<%= render @content %>

<div>
  <div class="container">
    <div class="row">
      <div class="col s4">
        <%= link_to "Modifica l'articolo", edit_content_path(@content), class: 'btn btn-devise' %> 
      </div>
      <div class="col s4">
        <%= link_to "Torna alla lista", contents_path, class: 'btn btn-devise' %> 
      </div>
      <div class="col s4">  
        <%= button_to "Elimina", @content, method: :delete, class: 'btn btn-devise' %>
      </div>
     </div>
  </div>      
</div>
