<!DOCTYPE html>
<html>
  <head>
    <title>UnicornMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
  
  <%= render "layouts/header" %>

  <main>
    <%= yield %>
  </main>

  <%= render "layouts/footer" %>

  </body>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
    </script>

</html>
